.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cfe8ef;
  }
  
  .login-card {
    background: #aed1e6;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .login-icon {
    background: #85c7de;
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #85c7de;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #c6dbf0;
  }
  
  .login-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .login-footer a {
    color: #333;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
  }
  