.navbar {
    background-color: #cfe8ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #85c7de;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #a0c4e2;
  }
  